.header {
  font-family: Tahoma, cursive;
  color: black;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
}

.body {
  font-family: Tahoma, cursive;
  color: black;
  font-weight: normal;
  font-size: 10pt;
  text-align: left;
}