.header {
  font-family: 'Quicksand', Tahoma, cursive;
  color: black;
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
}

.body {
  font-family: 'Quicksand', Tahoma, cursive;
  color: black;
  font-weight: normal;
  font-size: 10pt;
  text-align: left;
}

.timestamp {
  font-family: 'Quicksand', Tahoma, cursive;
  color: black;
  font-weight: normal;
  font-size: 12pt;
  text-align: left;
}

#time {
  font-family: 'Quicksand', Tahoma, cursive;
  color: black;
  font-weight: bold;
  font-size: 10pt;
  text-align: right;
}